* {
    transition: all 0.5s;
}

body {
    color: #999
}

.font-1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #444;

}

a {
    color: #666;
    text-decoration: none;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.logo-1 {
    width: 50px;
}

.logo {
    letter-spacing: 2px;
}

.home-clr {
    color: #45c8dc !important;
    border: 3px solid #45c8dc !important;
}

nav {
    border-bottom: 1px solid #d9d9d9;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav .nav-link {
    transition: all .2s;
    border: 3px solid transparent;
}

.navbar-nav .nav-link:hover {

    border: 3px solid #45c8dc;
    color: #45c8dc !important;
}

.in-nav {
    padding-left: 100px;
}

.Instructors {
    background: #f4f4f4;

}

.Instructors .Instructors-caption p {
    background-color: #45c8dc;
}

.Instructors .Instructors-caption .cap-h h1 {
    position: relative;
}

.Instructors .Instructors-caption h1:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -60px;
    width: 39px;
    height: 3px;
    background: #d9d9d9;
}

.Instructors .Instructors-caption h1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 39px;
    height: 3px;
    background: #d9d9d9;
}

.our-Instructors h3 {
    font-size: 27px;
}

.info {
    border-bottom: 3px solid #f4f4f4;
}

.info .row {
    margin-right: 0;

}

.info .row .info-bg {
    background-image: url(../images/Instructors/page-3_img03.jpg);
    background-size: cover;
    height: 580px;

}


.info .row .info-bg .caption2 {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    text-align: center;
    padding: 15px 40px 10px 40px;
    bottom: 30px;
    left: 0px;
    letter-spacing: 2px;
}

.our-info a:hover {
    text-decoration: none
}

.our-info p {
    font-size: 18px;
}

.our-info a {
    background-color: #45c8dc;
    padding: 8px 25px;
    color: #fff;
    transition: all .3s;
    font-size: 19px;
}

.our-info a:hover {
    background-color: #444;
    text-decoration: none;
}

.copyright {
    background-image: url(../images/programs/page-1_img11.jpg);
    height: 100px;
}

.copyright a {
    color: #fff;
}

.copyright p {
    font-size: 19px;
}
