/* smart phone and tablets */

@media (max-width:767px) {
    .info .row .info-bg {
        height: 300px;

    }

    .info .row .info-bg .caption2 {
        bottom: 20px;
        left: 100px;
    }

    .our-info p {
        font-size: 16px;
    }

    nav .container {
        width: 82%;
    }

}

/* small screen */

@media (min-width:768px) and (max-width:991px) {

    .our-Instructors p {
        font-size: 12px;
    }

    .our-Instructors h3 {
        font-size: 20px;
    }

    .info .row .info-bg {
        height: 300px;

    }

    .info .row .info-bg .caption2 {
        bottom: 20px;
        left: 300px;
    }

    nav .container {
        width: 82%;
    }


}

/* medium screen */

@media (min-width:992px) and (max-width:1199px) {
    .our-Instructors p {
        font-size: 14px;
    }

    .our-info p {
        font-size: 15px;
    }


}

/* larg screen */

@media (min-width:1200px) {}